.env
/cache/
/Cache/
/Dinamic/
/doc/
/MyFiles/
/node_modules/
/Plugins/
/vendor/
.DS_Store
.htaccess
config.php
config-mysql.php
config-postgresql.php
generateDoc.sh
package-lock.json
*.cache
*.lock
mysql/
ms_facturascripts/