<!-- createBooking.hbs -->
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #333333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #000000;
            color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .header {
            font-size: 24px;
            color: #ffa500;
            text-align: center;
            margin-bottom: 20px;
        }
        .content {
            font-size: 16px;
            line-height: 1.6;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }
        .highlight {
            color: #ffa500;
        }
        .button {
            background-color: #ffa500;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
        }

        p {
            color: white;
        }

        b {
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            Confirmación de Reserva
        </div>
        <div class="content">
            <p>Hola <span class="highlight">{{name}}</span>,</p>
            <p>¡Tu reserva ha sido confirmada! Aquí están los detalles de tu reserva:</p>
            <p><b>Fecha:</b> <span class="highlight">{{date}}</span><br>
               <b>Turno:</b> <span class="highlight">{{turn}}</span><br>
               <b>Número de personas:</b> <span class="highlight">{{capacity}}</span></p>
            <p>En breves se le notificará cuando se confirme la reserva.</p>
            <p>Si tienes alguna pregunta o necesitas hacer un cambio en tu reserva, no dudes en contactarnos.</p>
            <a href="[URL para más detalles]" class="button">Ver Detalles</a>
        </div>
        <div class="footer">
            Gracias por elegirnos,<br>
            <span class="highlight">Viberest</span>
        </div>
    </div>
</body>
</html>