<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            color: #333333;
            margin: 0;
            padding: 0;
        }
        .container {
            width: 100%;
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #000000;
            color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .header {
            font-size: 24px;
            color: #ffa500;
            text-align: center;
            margin-bottom: 20px;
        }
        .content {
            font-size: 16px;
            line-height: 1.6;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }
        .highlight {
            color: #ffa500;
        }
        .button {
            background-color: #ffa500;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
            margin-top: 20px;
            color: white;
        }
        .welcome-sign {
            text-align: center;
            margin-top: 20px;
            font-size: 30px;
            font-weight: bold;
            color: #ffa500;
            animation: pulse 2s infinite;
        }
        @keyframes pulse {
            0% { transform: scale(1); }
            50% { transform: scale(1.1); }
            100% { transform: scale(1); }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            Bienvenido a Viberest
        </div>
        <div class="content">
            <p>Hola <span class="highlight">{{name}}</span>,</p>
            <p>¡Estamos emocionados de darte la bienvenida! Tu cuenta ha sido creada con éxito.</p>
            <p>Tu nombre de usuario es: <span class="highlight">{{username}}</span></p>
            <p>Ahora puedes disfrutar de todas las características y beneficios que ofrecemos. Explora, descubre y disfruta.</p>
            <div class="welcome-sign">WELCOME</div>
            <a href="http://bellidel.eu:8000/confirm_account/{{token}}" class="button">Confirmar Cuenta</a>
        </div>
        <div class="footer">
            Gracias por unirte,<br>
            <span class="highlight">Viberest</span>
        </div>
    </div>
</body>
</html>
